<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.twentysixyoung.blog.modules.main.mapper.SysDictItemMapper">
    <select id="queryAllDataFromSysDictItem" resultType="com.twentysixyoung.blog.modules.main.entity.SysDictItem">
        SELECT
            id,
            dict_id,
            item_text,
            item_value,
            sort_order,
            create_time,
            status,
            description
        FROM
            sys_dict_item
    </select>

</mapper>